<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="theme-color" content="#18181B">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picked Exercises</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/own/basic.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/hammer.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



</head>

<body>
    <h1>Selected Exercises</h1>
    <!-- Erstellt für jede ausgewählte Übung ein eigenes Akkordeon und Ausfüll vorm.  -->
    <% for(let i=0 ; i < nameArray.length ; i++) {%>
        <div class=" accordion-item">

            <div class=" d-flex flex-row accordion-header " id=" flush-headingOne<%=i %>">

                <button class="Touchevent accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne<%=i %>" aria-expanded="false"
                    aria-controls="flush-collapseOne<%=i %>">
                    <%= nameArray[i]%>
                </button>


            </div>
            <div id="flush-collapseOne<%= i %>" class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne<%= i %>" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <!-- //Daten ab hier werden selbstständig geöffnet// -->
                    <div class="styleWeight">
                        <span>
                            <table style="float: left;" style="display: inline-block" class="tabel-content">
                                <thead>
                                    <tr>

                                        <th colspan="3">Previous Values <br>on <%= allDates[i]%>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-First">

                                    </tr>

                                    <% if (typeof data !=='0' && data.length> 0) {
                                        for(let r=0 ; r < data[i].length ; r++) {%>

                                            <tr>

                                                <td>
                                                    <%= data[i][r].exerciseSet %>.
                                                </td>
                                                <td>
                                                    <%= data[i][r].exerciseWeight %> kg
                                                </td>
                                                <td>
                                                    x <%= data[i][r].exerciseRep %>
                                                </td>
                                            </tr>
                                            <% }} %>
                                </tbody>


                            </table>
                            <table style="float: right;" style="display: inline-block" class="tabel-content ">
                                <thead>
                                    <tr>
                                        <th colspan="3">Today's Values</th>
                                    </tr>
                                </thead>
                                <tbody id="TodayTable<%=nameArray[i].replace(/\s/g, "").replace(/[()]/g, '')%>">
                                    <tr class="tr-First">

                                    </tr>
                                    <% if (typeof todaysdata !=='0' && todaysdata.length> 0) {
                                        for(let r=0 ; r < todaysdata[i].length ; r++) {%>
                                            <tr>
                                                <td>
                                                    <%= todaysdata[i][r].exerciseSet %>.
                                                </td>
                                                <td>
                                                    <%= todaysdata[i][r].exerciseWeight %> kg
                                                </td>
                                                <td>
                                                    x <%= todaysdata[i][r].exerciseRep %>
                                                </td>
                                            </tr>
                                            <% }} %>
                                </tbody>


                            </table>
                        </span>
                    </div>
                    <div id="Set">
                        <input type="number" class="form-control" placeholder="Weight" required>

                        <input type="number" class="form-control" placeholder="Number of Repetitions" required>

                        <button type="button " class="saveSetButton buttonAll">Save</button>

                    </div>


                </div>
            </div>
        </div>
        <% } %>



            <hr class="rounded">
            <div class="centering">
                <button class="addExercise buttonAll centering">Add Exercise</button>
            </div>




            <script src="/js/app.js"></script>

</body>